
    <div class="uk-hidden@s">
      <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;" class="uk-offcanvas-content">
        <!-- MOBILE-MENU-->
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="" uk-toggle="target: #offcanvas-nav"></a>
          </div>
          <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" href="javascript:void(0)">
              <span class="uk-icon" uk-icon="icon: bell"></span>
            </a>
          </div>
          <div id="offcanvas-nav" uk-offcanvas="flip: false; overlay: true; esc-close: true;">
            <div class="uk-offcanvas-bar" id="off-canvas-menu">
              <button class="uk-offcanvas-close" type="button" uk-close></button>
              <ul class="uk-nav uk-nav-default" id="nav">
                <li class="uk-nav-header uk-active"><a href="index.html">Home</a></li>
                <li class="uk-nav-header"><a href="#">About Us</a></li>
  
                <li class="uk-nav-header"><a href="#">Quick Enquiry</a></li>
                <li class="uk-nav-header"><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- END-OF-MOBILE-MENU-->
      </div>
  <!-- HEADER-END-->