<header id="header">
    <app-header></app-header>
</header>
  <!-- MAIN-->
  <main id="main">
    <app-search-box></app-search-box>
    <!-- SITE-MAIN-CONTENT-->
    <router-outlet></router-outlet>
    <!-- SITE-MAIN-CONTENT-END-->
  </main>
  <!-- MAIN-END-->
  <!-- FESTIVAL-NEW-OFFERS-SECTION-->
  <div class="festival-offer-sliding-marquee" style="display:none">
    <marquee class="marquee" behavior="scroll" direction="left" onMouseOver="this.stop()" onMouseOut="this.start()">
      <div class="marquee-inner-content">
        <p><img src="https://media3.giphy.com/media/LGKbowo3yqmbe/giphy.gif" alt=""> Happy Diwali to all you. Now
          get extra 20%+20% discounts on hot properties. Now get extra 20%+20% discounts on hot properties. Now
          get
          extra 20%+20% discounts on hot properties.</p>
      </div>
    </marquee>
  </div>
  <!-- FESTIVAL-NEW-OFFERS-SECTION-END-->
  <footer id="footer">
    <app-footer></app-footer>
  </footer>
  


